.about-section {
  grid-area: about;
  position: relative;
  width: 100vw;
  height: 1000px;
}

/* ----------text-container------------*/

.about-text {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  left: 10%;
  top: 10%;
  right: auto;
  border-radius: 10px;
  padding: 7%;
  width: 50vw;
  height: 650px;
  z-index: +2;
  margin-left: 28%;
  margin-top: 140px;
  background-color: #616161;
  box-shadow: 8px 8px 20px 0px rgba(0, 0, 0, 0.6);
}

.blue-corner {
  position: absolute;
  width: 10rem;
  height: 10rem;
  background-color: var(--blue);
  left: 81%;
  top: 220px;
}

.blue-corner-2 {
  position: absolute;
  width: 10rem;
  height: 10rem;
  background-color: var(--blue);

  left: 37%;
  top: 750px;
}

h3 {
  font-size: 3rem;
  color: var(--withe);
  font-family: Ubuntu;
}

p {
  color: var(--withe);
  font-family: Ubuntu;
  font-size: 2rem;
}

/*----------ship-picture--------------*/

.ship {
  padding: 10px;
  background-color: var(--withe);
  border-radius: 1%;
  position: absolute;
  z-index: +1;
  width: 520px;
  height: 800px;
  left: 5%;
  top: 90px;
}

@media only screen and (mmax-width: 1629px) {
  .about-text {
    position: absolute;
  }
  .ship {
    padding: 50px;
  }
} ;
