.event-table {
  /*grid-area: events;*/
  margin-top: 500px;
  position: relative;
  width: 100vw;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.whats-up {
  padding: 30px;
}

table {
  font-family: Ubuntu;
  font-size: 2rem;
  color: var(--withe);
  /*border: 2px solid var(--withe);*/
  border-collapse: collapse;
  box-shadow: 8px 8px 20px 0px rgba(0, 0, 0, 0.6);
  background-color: #616161;
}

td,
th {
  /*border: 2px solid var(--withe);*/
  padding: 24px 60px;
  text-align: center;
}

thead {
  background-color: var(--blue);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}
