/*----background-config.-----*/

.event-gallery {
  grid-area: gallery;
  position: relative;
  width: 100vw;
  height: 2000px;
}

/*----text-settings-------*/

.gallery-headline {
  font-size: 2rem;
  color: var(--withe);
  font-family: Poppins;
  font-style: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.description-text {
  font-size: 25px;
  color: var(--withe);
  font-family: Poppins;
  font-style: normal;
}

/*-----card-position--------*/

.item-1 {
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-2 {
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-3 {
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-position {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
/*----------Gallery-Cards-----------*/

.card-normal {
  overflow: visible;
  position: relative;
  width: 820px;
  height: 250px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card-normal:before,
.card-normal:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index: -99;
}

.details {
  position: absolute;
  left: -10px;
  right: 0;
  bottom: 5px;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
}

/*Image*/
.imgbox {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
}

.img-1 {
  position: absolute;
  background-size: cover;
  background-image: url(gallery/yacht-1.jpg);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*Text*/
.title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 20px;
  color: #777777;
}

.caption {
  font-family: Poppins;
  font-style: bold;
  font-size: 20px;
  color: #000000;
  display: block;
  margin-top: 5px;
}

/*Hover*/
.card-normal:hover .imgbox {
  bottom: 80px;
}

.card-normal:hover:before {
  transform: rotate(20deg);
}

.card-normal:hover:after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
/*------------reverse------------*/

.card-reverse {
  overflow: visible;
  position: relative;
  width: 820px;
  height: 450px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card-reverse:before,
.card-reverse:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index: -99;
}

.details {
  position: absolute;
  left: -10px;
  right: 0;
  bottom: 5px;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
}

/*Image*/
.imgbox {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
}

.img-2 {
  position: absolute;
  background-size: cover;
  background-image: url(gallery/yacht-2.jpg);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*Text*/
.title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 20px;
  color: #777777;
}

.caption {
  font-family: Poppins;
  font-style: bold;
  font-size: 20px;
  color: #000000;
  display: block;
  margin-top: 5px;
}

/*Hover*/
.card-reverse:hover .imgbox {
  bottom: 80px;
}

.card-reverse:hover:before {
  transform: rotate(-20deg);
}

.card-reverse:hover:after {
  transform: rotate(-10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

/*--------normal-------------*/

.card-normal {
  overflow: visible;
  position: relative;
  width: 820px;
  height: 450px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.card-normal:before,
.card-normal:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index: -99;
}

.details {
  position: absolute;
  left: -10px;
  right: 0;
  bottom: 5px;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
}

/*Image*/
.imgbox {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
}

.img-3 {
  background: #4158d0;
  position: absolute;
  background-size: cover;
  background-image: url(gallery/yacht-3.jpg);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*Text*/
.title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 20px;
  color: #777777;
}

.caption {
  font-family: Poppins;
  font-weight: 600;
  font-size: 20px;
  color: #777777;
  display: block;
  margin-top: 5px;
}

/*Hover*/
.card-normal:hover .imgbox {
  bottom: 80px;
}

.card-normal:hover:before {
  transform: rotate(20deg);
}

.card-normal:hover:after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

/*---------responsive design gallery section------------*/

@media only screen and (max-width: 1240px) {
  .event-gallery {
    margin-top: +100px;
  }
}

@media only screen and (max-width: 840px) {
  .event-gallery {
    max-width: 80vw;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 560px) {
  .event-gallery {
    margin-top: -200px;
  }

  .gallery-headline {
    font-size: 30px;
  }
  .description-text {
    font-size: 18px;
  }

  .card-normal {
    height: 380px;
    top: 50px;
  }
  .card-reverse {
    height: 380px;
    top: 50px;
  }

  .description-position {
    height: 50px;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 470px) {
  .event-gallery {
    margin-top: -100px;
  }
}

@media only screen and (max-width: 420px) {
  .event-gallery {
    margin-top: -200px;
  }

  .gallery-headline {
    font-size: 25px;
  }
  .description-text {
    font-size: 18px;
  }

  .card-normal {
    height: 320px;
    top: 10px;
  }
  .card-reverse {
    height: 320px;
    top: 10px;
  }
  .description-position {
    height: 100px;
    margin-bottom: 50px;
  }
  .item-1 {
    margin-bottom: 10px;
    height: 380px;
  }
  .item-2 {
    margin-bottom: 10px;
    height: 380px;
  }
  .item-3 {
    margin-bottom: 10px;
    height: 380px;
  }
  .event-gallery {
    height: 1800px;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 330px) {
  .gallery-headline {
    font-size: 20px;
  }
  .description-text {
    font-size: 15px;
  }
  .description-position {
    margin-top: 20px;
  }
  .card-normal {
    height: 280px;
  }
  .card-reverse {
    height: 280px;
  }
}
