/*--------header-navigation-----------*/

.header {
  grid-area: header;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.marina {
  width: 100vw;
  height: 960px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  padding: 15px 5%;
  display: flex;
  justify-content: flex-end;
  z-index: +10000;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  font-family: Ubuntu;
  font-style: normal;
  font-size: 22px;
  color: var(--withe);
  transform: scale(1.5);
  opacity: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.671);
}

.list .list-link {
  position: relative;
  padding: 7px 0;
}

.list .list-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background: var(--withe);
  transition: 0.4s ease-in-out;
}

.list .list-link:hover {
  color: var(--grey);
  transition: 0.8s ease-in-out;
}

.list .list-link:hover::after {
  left: 0;
  width: 100%;
}

/*-----------main-content---------------*/

.front-content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

h1 {
  font-family: Ubuntu;
  font-style: bold;
  font-size: 8rem;
  line-height: 5rem;
  color: var(--withe);
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

h2 {
  font-family: Ubuntu;
  font-style: bold;
  font-size: 3rem;
  color: var(--withe);
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

.back-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

/*-------front-content-animation-----------*/

.animate {
  animation-name: focus-in-expand;
  animation-duration: 3.5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

/*-----responsive desing header section----------------*/

/*----------------burger-menue----------------*/

#toggle-btn {
  display: none;
}

label[for="toggle-btn"] {
  display: none;
}
@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;
    flex-direction: column;
    top: 0;
    right: 0;
    background: var(--grey);
    padding: 25px;
    gap: 50px;
    border-radius: 0 0 12px 12px;
  }
  nav {
    padding: 0;
    display: flex;
    justify-content: flex-start;
    position: absolute;
  }

  #toggle-btn:checked ~ ul {
    display: flex;
  }
  label[for="toggle-btn"] {
    display: block;
  }
}

/*--------header responsive------------*/

@media only screen and (max-width: 1325px) {
  .marina {
    padding-bottom: 100px;
  }
  h1 {
    font-size: 7rem;
  }
}

@media only screen and (max-width: 1150px) {
  .marina {
    padding-bottom: 200px;
  }
  h1 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 950px) {
  .marina {
    padding-bottom: 300px;
  }
  h1 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 780px) {
  .marina {
    padding-bottom: 400px;
  }
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 620px) {
  h1 {
    font-size: 3rem;
  }
  h1.animate {
    margin-bottom: 180px;
  }

  h2 {
    font-size: 30px;
  }
  h2.animate {
    margin-top: 180px;
  }
  .marina {
    padding-bottom: 480px;
  }
}

@media only screen and (max-width: 470px) {
  h1 {
    font-size: 38px;
  }
  h1.animate {
    margin-bottom: 280px;
  }

  h2 {
    font-size: 25px;
  }
  h2.animate {
    margin-top: 280px;
  }
  .marina {
    padding-bottom: 580px;
  }
}

@media only screen and (max-width: 380px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 20px;
  }
  .marina {
    padding-bottom: 650px;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 15px;
  }
  .marina {
    padding-bottom: 680px;
  }
}

@media only screen and (max-width: 270px) {
  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 12px;
  }
  .marina {
    padding-bottom: 720px;
  }
}
