* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-width: 100%;
  scroll-behavior: smooth;
}
body {
  min-width: 100%;
  background-image: url(background/i-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.grid-template {
  display: grid;
  height: 5960px;
  min-width: 100%;
  grid: auto;
  overflow: hidden;
  background-color: rgba(255, 0, 0, 0.726);

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 960px 1000px 2500px 800px 400px 300px;

  grid-template-areas:
    "header header header "
    "about about about"
    "gallery gallery gallery"
    "events events events"
    "map map map"
    "contact contact contact";
}

#back-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-size: cover;
  padding: 5% 3% 5% 3%;
  z-index: -1;
  position: absolute;
}

:root {
  --grey: #808080;
  --blue: #005eb8;
  --withe: #ffff;
  --black: #0000;
}

@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-Light.ttf);
  font-weight: 300;
  font-style: light;
  font-display: swap;
}

@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-Bold.ttf);
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}
